/* reset */

body, h1, h2, h3, p, ul{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.container::after, .container::before{
    content: "";
    display: table;
    clear: both;
}

/* Header */

.headerPrincipal{
    background: #0454d4;
    padding: 20px;
}

.headerLogo{
    float: left;
    color: #fff;
    text-decoration: none;
}

.headerNav{
    float: right;
}

.headerNav li{
    display: inline-block;
}

.headerNav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

/* Main */

.mainIntro{
    background: url("../img/bground.jpg") no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
}

.mainIntro h1{
    text-transform: uppercase;
    font-size: 3em;
}

.mainIntro p{
    text-transform: uppercase;
    font-size: 1.5em;
}

/* tecnologias */

.tecnologias{
    padding: 80px 0;
}

.tecnologias h2{
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 80px;
}

.tecnologias p{
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
}

.tecnologiasItem{
    width: 320px;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}

.tecnologiasItem h3{
    font-size: 2em;
}

.tecnologiasItem i{
    font-size: 12.5em;
}

