/* reset */

body, h1, h2, h3, p, ul{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}


/* Header */

.headerPrincipal{
    background: #0454d4;
    padding: 15px 0;
}

.headerLogo{
    color: #fff;
    text-decoration: none;
}

.headerNav ul{
    float: right;
}
.headerNav ul li{
    display: inline-block;
}


.headerNav a{

    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    display: block;
    padding: 10px;
    margin-left: 10px;
}

@media (max-width: 739px){
    .headerNav ul{
        float: none;
    }

    .headerNav ul li a{
        margin-left: none;
        padding-left: none;
        padding-right: 8px;
    } 
}


/* Main */

.mainIntro{
    background: url("../img/bground.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    padding: 150px 0;
    text-align: center;
}

.mainIntro h1{
    text-transform: uppercase;
    font-size: 3em;
}

.mainIntro p{
    text-transform: uppercase;
    font-size: 1.5em;
}


@media (max-width: 739px){
    .mainIntro{
        padding: 60px 0;
    }
    .mainIntro h1{
        font-size: 1.7em;
    }
    .mainIntro p{
        font-size: 0.85em;
    }
}




/* tecnologias */


.tecnologias{
    padding: 60px 0;
    text-align: center;
}
.tecnologias h2{
    font-size: 2.25em;
    margin-bottom: 60px;
}




.tecnologiasItem h3{
    font-size: 2em;
}

.tecnologiasItem i{
    font-size: 7em;
}





/* contexto */

.contexto{
    background-color: #0454d4;
    color: #fff;
    border-top: 5px solid #00f;
    border-bottom: 5px solid #00f;
    padding: 60px 0;
   
}

.contextoItem h3{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}


.contextoItem p{
    font-size: 0.875em;
    line-height: 1.4em;
}


.sentimentos{
    padding: 60px 0;
}

.sentimentosItem{
    margin-bottom: 40px;
}
.sentimentosItem h2{
    font-size: 2.25em;
}

.sentimentosItem p{
    font-size: 0.875em;
    line-height: 1.4em;
}




/* Formulário */

.formulario{
    background: #3492eb;
    padding: 60px 0;

}

.formularioInfo{
    color: #0454d4;
}

.formularioInfo h2{
    font-size: 2.25em;
}

.formularioInfo p{
    font-size: 1.5em;
    font-style: italic;
}


.formulario form label{
    display: none;
}

.formulario input{
    border: 3px solid #0454d4;
    color: #0454d4;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    width: calc(100% - 140px);
    padding: 10px;
    float: left;
}

.formulario button{
    background: #0454d4;
    text-transform: uppercase;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 140px;
    padding: 13px 0;
    float: left;
    font-size: 1.5em;
}

.rodape{
    background: #0454d4;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}
