/* reset */

body, h1, h2, h3, p, ul{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}


/* Header */

.headerPrincipal{
    background-color: #000;
    border-bottom: 3px solid #ddc686;
    padding: 20px 0;
}

.headerPrincipal a{
    text-decoration: none;
    color: #ddc686;
}

.headerNav {
    flex: 1;
    align-self: center;
}

.headerNav ul{
  float: right;
  display: flex;
  list-style: none;
  color: #ddc686;
}

.headerNav ul li a{
   padding: 10px;
}

/* Main */

.mainIntro{
    background: url("../img/main.jpg") no-repeat center;
    background-size: cover;
    background-color: #000;
    padding: 250px 0;
    color:  #fff;
    text-align: center;
}

.mainIntro h2{
    font-size: 3em;
   
}

.mainIntro h1{
    font-size: 3.5em;
  
}

/* Historia */

.historia{
    padding: 100px 0;
}

.historia h2{
    font-size: 3em;
    text-align: center;
    margin-bottom: 40px;
}

.historia p{
    font-size: 1.2em;
}

.historiaItem{
    margin: 10px 10px 20px 0;
}
.historiaItem img{
    max-width: 100%;
    display: block;
}



/* Footer */

.footer{
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    background: #000;
    color: #ddc686;
    border-top: 3px solid #ddc686;
}

/* Serviços */

.servicos{
  background: #000;
  padding: 120px 0;
  color: #fff;

}

.servicos h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: 40px;
}
.servicosItem{
    margin: 10px 10px 20px 0;
}

.servicosItem img{
  max-width: 40%;
  display: block;
  text-align: center;
}



